<!DOCTYPE html>
<html
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    {{ partial "meta.html" . }}

    <title>{{ .Title }}{{ if ne $.Site.Title .Title }} || {{ $.Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ with .Site.Params.RSSCanonicalLink }}
      <link rel="alternate" type="application/rss+xml" href="{{ . | absURL }}" title="{{$.Site.Title}}" />
    {{ else }}
      {{- with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
      {{- end -}}
    {{ end }}

    {{ partial "head_includes.html" . }}
  </head>
  <body
  class="{{ block "body-classes" . }}{{ end }}"
  lang="{{ .Site.LanguageCode }}">
  <div class="nav-bkg drop-shadow">
    <nav class="content-container pagewide-bar-padding">
      <a href="{{ .Site.Home.RelPermalink  }}" >Home</a>
      {{ partial "right-links" . }}
    </nav>
  </div>
  {{ block "content" . }}{{ end }}
  {{ block "footer" .}}{{ end }}
    
  <section id="comments" class="content-container article-pad-v">
    <div id="content" class="article-body margin-top-2em">
    <script src="https://giscus.app/client.js"
        data-repo="sksg/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzOTg4NjY5MzU="
        data-category="Comments"
        data-category-id="DIC_kwDOF8Y5984B_MTr"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        crossorigin="anonymous"
        async>
    </script>
    </div>
  </section>
  
  <section id="about" class="content-container article-pad-v">
    <div id="content" class="article-body margin-top-2em">
    {{with .GetPage "/about"}}
      {{ .Content }}
    {{ end }}
    </div>
  </section>
  </body>
</html>
