{{ define "content" }}
<section id="main" class="content-container look-sheet article-pad-v">
    <h1 id="title" style="margin-bottom: 0.75em">{{.Title}}</h1>
    <ul id="list" class="list-unstyled list-of-titles">
        {{ range ( where .Site.RegularPages "Type" "posts" ).ByDate.Reverse }}
        <li class="{{if .Draft }}draft{{ end }}">
            <a href="{{ .RelPermalink}}">
            <span class="post-title{{ if .Draft }}-draft{{ end }}">{{ partial "title" . }}</span>
            <br>
            <span class="post-meta">
                {{ .Date.Format "January 2, 2006" }}
                &nbsp;&mdash;&nbsp;
                Subjects: {{ delimit .Params.subjects ", " }}
            </span>
            <br>
            <span class="post-body">
                {{ partial "summary" . }} <b>Continue to read &nbsp;&rarr;</b>
            </span>
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}