
  <section id="comments" class="content-container article-pad-v">
    <div id="content" class="article-body margin-top-2em">
    <script src="https://giscus.app/client.js"
        data-repo="sksg/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzOTg4NjY5MzU="
        data-category="Comments"
        data-category-id="DIC_kwDOF8Y5984B_MTr"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        crossorigin="anonymous"
        async>
    </script>
    </div>
  </section>
